.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.column {
  display: inline-flex;
  border: 1px solid #f0f0f0;
  align-items: center;
  justify-content: center;
  font-size: 10vmin;
}

.column:hover {
  background-color: rgb(242, 253, 199);
  color:rgb(198, 148, 10);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vmin;
  height: 100vmin;
}

.puzzle-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.game-panel {
  position: fixed;
  width: 100px;
  height: 100%;
  opacity: 0.1;
  right: 0;
}

.game-panel:hover {
  opacity: 1;
}