.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  display: block;
}

.column {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid #888;
  align-items: center;
  justify-content: center;
}
